<div class="container">
    <h6>Login</h6>
    <p class="text-warning fs-6" *ngIf="displayErrorMsg">User does not exist register/signUp</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="id1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="id1" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="id2" class="form-label">Password</label>
          <input type="password" class="form-control" id="id2" formControlName="password">
        </div>
        <button type="submit" class="btn" style="background-color: #aaa;">Login</button>&nbsp;
        <!-- <button type="submit" class="btn btn-primary" style="background-color: #aaa;">SignUp</button> -->
        <br>
       
      </form>
</div>
