<div class="container-fluid">
    <p class="text-warning fs-6" *ngIf="errorMessage">{{errorMessage}}</p>
    <p class="text-success fs-6" *ngIf="successMessage">{{successMessage}}</p>
    <form (ngSubmit)="signUp()">
        <div class="mb-3">
            <label for="id1" class="form-label">User Name</label>
            <input type="text" class="form-control" id="id1" name="userName" [(ngModel)]="userObj.name">
        </div>
        <div class="mb-3">
            <label for="id2" class="form-label">Email address</label>
            <input type="text" class="form-control" id="id2" name="userEmail"  [(ngModel)]="userObj.email">
        </div>
        <label for="id3" class="form-label">Mobile No</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="" id="id3" name="userMobileNo"  [(ngModel)]="userObj.mobileNo">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" *ngIf="!userObj?.isOtpVerified" [disabled]="disableGetOtpBtn" (click)="getOtp()">Get Opt</button>
            <span class="fs-6 text-primary" *ngIf="userObj?.isOtpVerified"><i class="bi bi-check-circle"></i></span>
        </div>
        <ng-container *ngIf="displayOtpFiled">
            <label for="id4" class="form-label">Enter Otp</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="" id="id4" name="otp"  [(ngModel)]="enteredOtp">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="verifyOtp()">verify-otp</button>
              
            </div>
            <p class="fs-6 fw-bold">Otp is valid for :&nbsp; {{otpTimer}}</p>
        </ng-container>
        <div class="mb-3">
            <label for="id5" class="form-label">password</label>
            <input type="text" class="form-control" id="id5" name="userPassword"  [(ngModel)]="userObj.password">
        </div>
        <button type="submit" class="btn"  style="background-color: #aaa;">SignUp</button>
    </form>
</div>